# Ignore local environment files
.env
.gitignore
# Ignore Python cache
__pycache__/
.pytest_cache
*.py[cod]
*.pyo
*.pyd
# docs
_docs/guides
_docs/adk-docs
_docs/adk-samples-main
repomix-mortgage.txt
.aider*
.coverage
uv.lock

# ADK files
*.evalset.json
!tests/eval/data/*.evalset.json
!tests/eval/data/recorded-sessions/*.evalset.json
tests/eval/data/recorded-sessions/evalset67a47d.evalset-1.json
